/*
Color Palette Randomly Generated:
https://coolors.co/3c91e6-342e37-a2d729-fafffd-fa824c
*/

html {height: 100%;}
body {width: 90%; height: 100%; margin-left: auto; margin-right: auto;
  font-family: 'Trebuchet MS', sans-serif; overflow: hidden;
  background-color: #FAFFFD}

/* NAV Style */
.NAV {height: 8%; background-color: #342E37;line-height: 50px;
  color: #FAFFFD; text-align: center;}
.NAV h1 {font-size: 36px; color: #FAFFFD;}

/* Footer Style */
.footer {text-align: center; margin-top: 3%;}

/* Main Container Style */ /* CHANGE DISPLAY TO "flex" TO VIEW */
#mainDisplay {display: flex; flex-direction: row; height: 75%; width: 100%;
padding-top: 25px;}

/* Schedule Teaser Widget Style */
.ScheduleTeaser {display: block; background-color: #FA824C; height: 100%;
  color: #FAFFFD; width: 30%; margin-right: 3%; margin-left: 1.5%;
  clip-path: inset(10px 10px 10px round 30px); text-align: center;}
.ScheduleTeaser:hover {clip-path: inset(0 0 0 round 30px); cursor: pointer;}

/* Budget Teaser Widget Style */
.BudgetTeaser {display: block; background-color: #A2D729; height: 100%;
  color: #FAFFFD; width: 30%; margin-right: 3%; text-align: center;
  clip-path: inset(10px 10px 10px round 30px);}
.BudgetTeaser:hover {clip-path: inset(0 0 0 round 30px); cursor: pointer;}

/* Troves Teaser Widget Style */
.TrovesTeaser {display: block; background-color: #3C91E6; height: 100%;
  color: #FAFFFD; width: 30%; clip-path: inset(10px 10px 10px round 30px);
  text-align: center;}
.TrovesTeaser:hover {clip-path: inset(0 0 0 round 30px); cursor: pointer;}

/* Full Schedule View Style */ /* CHANGE DISPLAY TO "block" TO VIEW */
#ScheduleFull {display: none; width: 100%; height: 75%; color: #FAFFFD;
  background-color: #FA824C; clip-path: inset(0 0 0 round 30px);
  flex-direction: row; margin-top: 25px;}
#ScheduleFull img {width: 50px; height: 50px; background-color: transparent;
padding-left: 10px; padding-top: 10px;}
#ScheduleFull img:hover {width: 55px; height: 55px; cursor: pointer;}
#ScheduleFull h1 {position: absolute; padding-left: 35%;}

/* Full Budget View Style */ /* CHANGE DISPLAY TO "block" TO VIEW */
#BudgetFull {display: none; width: 100%; height: 75%; color: #FAFFFD;
  background-color: #A2D729; clip-path: inset(0 0 0 round 30px);
  flex-direction: row; margin-top: 25px;}
#BudgetFull img {width: 50px; height: 50px; background-color: transparent;
padding-left: 10px; padding-top: 10px;}
#BudgetFull img:hover {width: 55px; height: 55px; cursor: pointer;}
#BudgetFull h1 {position: absolute; padding-left: 35%;}

/* Full Troves View Style */ /* CHANGE DISPLAY TO "block" TO VIEW */
#TrovesFull {display: none; width: 100%; height: 75%; color: #FAFFFD;
  background-color: #3C91E6; clip-path: inset(0 0 0 round 30px);
  flex-direction: row; margin-top: 25px;}
#TrovesFull img {width: 50px; height: 50px; background-color: transparent;
padding-left: 10px; padding-top: 10px;}
#TrovesFull img:hover {width: 55px; height: 55px; cursor: pointer;}
#TrovesFull h1 {position: absolute; padding-left: 35%;}

/* Small Screen View Style */
