<!DOCTYPE html>
<html>
<body>

<h1>Dashboard</h1>
<p> Welcome! <%= userid%></p>
<nobr><p>The dashboard doesn't exist yet! Head over to </p><a href ='/'>Index</a><p> while we are getting things ready.</p></nobr>
</body>
</html>