<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trove Home Page</title>
</head>
<body>
<h1>Trove Home Page</h1>
<p>welcome to trove</p>
<a href="/Sign-Up">Sign-Up page</a>
<a href="/accSettings">Account Settings</a>
<a href="/WeeklyCalendar.html">Weekly Calendar</a>
<a href="/TroveAccounting.html">Trove Accounting</a>
<a href="/Dashboard">Dashboard</a>
<a href="/Trove_Login">Login page</a>
</body>
</html>
